__pycache__/
hdfs/
metastore-postgresql/
airflow/logs/
airflow/dags/webserver_config.py
airflow/dags/airflow.cfg
airflow/dags/standalone_admin_password.txt
airflow/dags/airflow.db
airflow/dags/__pycache__/